* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: lightgoldenrodyellow;
    position: fixed;
    color: black;
    
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: cursive;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

nav ul li {
    line-height: 60px;
    margin: 0 5px;
}

nav ul a {
    color: black;
    font-size: 18px;
    padding: 5px 13px;
    text-transform: uppercase;
    border-radius: 4px;
    transition: .4s;
}

nav ul a:hover {
    background: #eeea05;
    padding: 10px;
    color: #000;
}

main {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    font-family: cursive;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 80px;
    font-size: 30px;
}

section#pro1 {
    background: rgb(203, 227, 235);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #12192c;
    text-align: center;
}


section#pro2 {
    background: rgb(203, 227, 235);
    color: black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

h4 {
    font-size: large;
}

input {
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
}

.dateContainer {
    margin: 25px;
}

.buttonContainer {
    margin: 10px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button1 {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 15px;
    transition: 0.4s ease;
    border: 0px;
}

.button1:hover {
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.171);
    cursor: pointer;
}

.button1 div {
    margin: 15px;
    height: 20px;
    width: 20px;
    border-top: 5px solid #202020;
    border-left: 5px solid #202020;
    transform: rotate(225deg);
    left: 27.5px;
    top: 35px;
}

.resultContainer1 {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 50%;
}

.resultContainer2 {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 50%;
}

.unit {
    font-size: large;
}

.credit {
    text-align: center;
    font-family: Geneva;
    color: black;
    font-size: 15px;
    padding: 20px;
    opacity: 80%;
}





